<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.sm="column" fxLayoutAlign.sm="center start"
    fxLayout.xs="column" fxLayoutAlign.xs="center start">
    <div>
        <h3><b>SCREENERS</b></h3>
    </div>
    <div>
        <button mat-flat-button color="primary" (click)="openCreateScreenerDialog()">NEW SCREENER</button>
    </div>
</div>

<div fxLayout="column">
    <mat-form-field>
        <mat-label>
            <mat-icon>search</mat-icon> Search
        </mat-label>
        <input matInput #screenerSearch>
    </mat-form-field>
</div>

<app-message *ngIf="screeners!=null && screeners.length==0" type="warn" message="No Screeners Available."
    [callback]="openCreateScreenerDialog" callbackText="Create Screener">
</app-message>

<app-message *ngIf="fetchError" type="error" message="Failed to connect to our servers." [callback]="refresh"
    callbackText="Refresh">
</app-message>

<mat-selection-list #screenerList [multiple]="false" (selectionChange)="onSelectionChange($event)">
    <mat-list-option *ngFor="let screener of ( screeners | screenerNameSearch:screenerSearch.value)" [value]="screener">
        {{screener.name}}
    </mat-list-option>
</mat-selection-list>

<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>