<app-message *ngIf="fetchError" type="error" message="Failed to connect to our servers." [callback]="refresh"
    callbackText="Refresh">
</app-message>
<!--Edit Screener-->
<div *ngIf="!selectedExecutableId">
    <form *ngIf="editScreenerForm" fxLayout="column" fxLayoutGap="10px" [formGroup]="editScreenerForm" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [formControl]="nameControl">
                <mat-error *ngIf="nameControl && nameControl.invalid">Please enter valid name.</mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <button mat-flat-button color="success" (click)="openCreateScreenerExecutableDialog()"
                    [disabled]="isRunDisabled()">RUN</button>
                <button mat-flat-button color="primary" (click)="save()">SAVE</button>
                <button mat-flat-button color="warn" (click)="delete()">DELETE</button>
            </div>
        </div>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [formControl]="descriptionControl"></textarea>
            <mat-error *ngIf="descriptionControl && descriptionControl.invalid">Please enter a valid description.
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="conditions && conditions.length>0">
            <mat-label>Condition</mat-label>
            <mat-select [formControl]="conditionControl">
                <mat-option *ngFor="let condition of conditions" [value]="condition.id">
                    {{condition.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="conditionControl && conditionControl.invalid">Please select a valid condition.
            </mat-error>
        </mat-form-field>
        <app-message *ngIf="conditions!=null && conditions.length==0" type="error"
            message="No Conditions Available. Please create condition first." [callback]="navigateToConditionsList"
            callbackText="Create Condition">
        </app-message>
        <mat-form-field *ngIf="watchlists && watchlists.length>0">
            <mat-label>Watchlist</mat-label>
            <mat-select [formControl]="watchlistControl">
                <mat-option *ngFor="let watchlist of watchlists" [value]="watchlist.watchlistId">
                    {{watchlist.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="watchlistControl && watchlistControl.invalid">Please select a valid watchlist.
            </mat-error>`
        </mat-form-field>
        <app-message *ngIf="watchlists!=null && watchlists.length==0" type="error"
            message="No Watchlists Available. Please create watchlist first." [callback]="navigateToWatchlistsList"
            callbackText="Create Watchlist">
        </app-message>
    </form>

    <br />
    <br />

    <!--Show Executions-->
    <div>
        <h3>EXECUTIONS</h3>

        <table mat-table [dataSource]="executables">
            <!-- Market Time Column -->
            <ng-container matColumnDef="marketTime">
                <th mat-header-cell *matHeaderCellDef>Market Time</th>
                <td mat-cell *matCellDef="let executable">{{executable.marketTime | date:'medium'}}</td>
            </ng-container>

            <!-- Note Column -->
            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef>Note</th>
                <td mat-cell *matCellDef="let executable">{{executable.note}}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let executable">{{executable.status}}</td>
            </ng-container>

            <!-- Result Column -->
            <ng-container matColumnDef="result">
                <th mat-header-cell *matHeaderCellDef>Result</th>
                <td mat-cell *matCellDef="let executable">
                    <button mat-icon-button (click)="selectedExecutableId =executable.executableId;">
                        <mat-icon>apps</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="executablesTableDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: executablesTableDisplayedColumns;"
                (click)="selectedExecutableId = row.executableId"></tr>
        </table>

        <app-message *ngIf="executables==null || executables.length==0" type="warn"
            message="No Executions Available. Please run this screener." [callback]="openCreateScreenerExecutableDialog"
            callbackText="Run">
        </app-message>
    </div>
</div>

<!--Show Execution Result-->
<div *ngIf="selectedExecutableId">
    <app-screener-executable-result [executableId]="selectedExecutableId" [conditionId]="conditionControl.value"
        (back)="selectedExecutableId=null;">
    </app-screener-executable-result>
</div>