<div fxLayout="row" fxLayoutAlign="space-between center ">
    <h3><b>FILTERS</b></h3>
    <button mat-flat-button color="primary" (click)="openCreateFilterDialog()">NEW FILTER</button>
</div>

<mat-divider style="margin-bottom: 10px;"></mat-divider>

<div fxLayout="column">
    <mat-form-field>
        <mat-label>
            <mat-icon>search</mat-icon> Search
        </mat-label>
        <input matInput #filterSearch>
    </mat-form-field>
</div>

<div *ngIf="!fetchError && (filters==null || filters.length==0)" fxLayout="row" fxLayoutAlign="start center"
    fxLayoutGap="10px" style="color: darkgrey;">
    <mat-icon>info</mat-icon><span>No Filters Available. Please Create New Filter.</span>
</div>

<div *ngIf="fetchError" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="color: red;">
    <mat-icon>error</mat-icon>
    <span>Failed To Get Filters.</span>
    <button mat-stroked-button color="primary" (click)="refresh()">Please Retry</button>
</div>

<mat-selection-list #filterList [multiple]="false" (selectionChange)="onSelectionChange($event)">
    <mat-list-option *ngFor="let filter of ( filters | filterNameSearch:filterSearch.value)" [value]="filter">
        {{filter.name}}
    </mat-list-option>
</mat-selection-list>

<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>