/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;
  background-color: #f9f9f9;
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/*Scroll Bar Styling*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f51b5;
}

/*MONACO editor related styling*/

// .monaco-hover-content{
//     font-size: 16px !important;
//     line-height: 18px;
// }

div.hover-row.status-bar {
  display: none !important;
}

//MAT Button
.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}

