.container{
    background-color: white;
    margin: 3px;
}

.main-nav-item{
    padding: 20px;
}

.main-list-container{
    padding: 10px;
}

.main-tab-container{
    padding: 10px;
}

.tab-container{
    padding: 10px;
}