<div fxLayout="column" fxFlexFill>
  <mat-card fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <img src="assets/icons/logo.png">
    </div>
    <div>
      <!--Modules-->
      <!-- <button mat-flat-button [routerLink]="['/screener']">
        <mat-icon color="primary">tv</mat-icon>
        Screener
      </button>
      <button mat-flat-button>
        <mat-icon color="primary">bubble_chart</mat-icon>
        Back Test
      </button>
      <button mat-flat-button>
        <mat-icon color="primary">multiline_chart</mat-icon>
        Paper Trade
      </button> -->

      <!--User Menu-->
      <button mat-icon-button *ngIf="(authService.currentUser | async)" [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <div fxLayout="column" fxLayoutGap="20px" style="margin: 20px;">
          <span>{{(authService.currentUser | async)?.name}}</span>
          <span>{{(authService.currentUser | async)?.email}}</span>
          <button mat-flat-button color="primary" (click)="logout()">Logout</button>
        </div>
      </mat-menu>

      <!--Help Menu-->
      <button mat-icon-button *ngIf="(authService.currentUser | async)" [matMenuTriggerFor]="helpMenu">
        <mat-icon>help_outline</mat-icon>
      </button>
      <mat-menu #helpMenu="matMenu">
        <div fxLayout="column" fxLayoutGap="20px" style="margin: 20px;">
          <a href="#/doc" target="_blank">Documentation</a>
        </div>
      </mat-menu>

      <!--Feedback Menu-->
      <button mat-flat-button (click)="openFeedback()">
        <mat-icon>feedback</mat-icon>
      </button>
    </div>
  </mat-card>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <b>&copy; All rights reserved 2022</b>
  </div>
</div>