.container{
    background-color: white;
    margin: 3px;
}

.container-details{
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }