<div fxLayout="column" fxLayoutGap="10px">
    <h2>RESET PASSWORD</h2>
    <!--RESET FORM-->
    <form fxLayout="column" fxLayoutGap="10px" [formGroup]="resetForm" *ngIf="!isEmailSent">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailControl">
            <mat-error *ngIf="emailControl && emailControl.invalid">Please enter valid email.</mat-error>
        </mat-form-field>
        <mat-error *ngIf="submissionError">{{submissionError}}</mat-error>
        <button mat-flat-button color="primary" (click)="generateVerificationCode()">RESET</button>
    </form>
    <!--VERIFY-->
    <form fxLayout="column" fxLayoutGap="10px" [formGroup]="verifyForm" *ngIf="isEmailSent">
        <span style="color: rgb(7, 139, 7);">
            Verification Code sent to email <b>{{emailControl.value}}.</b>
        </span>
        <mat-form-field>
            <mat-label>Verification Code</mat-label>
            <input matInput [formControl]="codeControl">
            <mat-error *ngIf="codeControl && codeControl.invalid">Please enter valid verification code.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" matInput [formControl]="passwordControl">
            <mat-error *ngIf="passwordControl && passwordControl.invalid">Please enter password with minimum 8
                characters and atleast one number.</mat-error>
        </mat-form-field>
        <mat-error *ngIf="submissionError">{{submissionError}}</mat-error>
        <button mat-flat-button color="primary" (click)="verify()">VERIFY</button>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!isEmailSent">
        <div>
            <button mat-stroked-button color="primary" [routerLink]="['/auth/login']">Remember Now ?</button>
        </div>
    </div>
</div>

<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>