<mat-card fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngIf="conditionQuery.isRoot()">
            <div>Condition Query</div>
        </div>
        
        <mat-select *ngIf="!conditionQuery.isRoot()" [(value)]="conditionQuery.type">
            <mat-option  value="AND">AND</mat-option>
            <mat-option  value="OR">OR</mat-option>
        </mat-select>

        <!-- <mat-button-toggle-group *ngIf="!conditionQuery.isRoot()" [(ngModel)]="conditionQuery.type">
            <mat-button-toggle value="AND">AND</mat-button-toggle>
            <mat-button-toggle value="OR">OR&nbsp;</mat-button-toggle>
        </mat-button-toggle-group> -->

        <div fxLayout="row">
            <button mat-icon-button color="primary" (click)="addCondition(false)" matTooltip="ADD FILTER">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="addCondition(true)" matTooltip="ADD FILTER GROUP">
                <mat-icon>add_circle</mat-icon>
            </button>
            <button *ngIf="!conditionQuery.isRoot()" mat-icon-button color="error" matTooltip="REMOVE FILTER GROUP"
                (click)="conditionQuery.delete()">
                <mat-icon>remove_circle</mat-icon>
            </button>
        </div>
    </div>

    <div>
        <mat-divider></mat-divider>
    </div>

    <div *ngIf="conditionQuery.subQueries.length==0">
        <span style="color: red;">Please add conditions</span>
    </div>

    <div *ngFor="let subQuery of conditionQuery.subQueries">
        <div *ngIf="!subQuery.subQueries" fxLayout="row" fxLayout.small="column" fxLayout.xs="column" fxLayoutGap="10px"
            fxLayoutAlign="none center">

            <mat-select [(value)]="subQuery.type">
                <mat-option  value="AND">AND</mat-option>
                <mat-option  value="OR">OR</mat-option>
            </mat-select>

            <!-- <mat-button-toggle-group [(ngModel)]="subQuery.type">
                <mat-button-toggle value="AND">AND</mat-button-toggle>
                <mat-button-toggle value="OR">OR&nbsp;</mat-button-toggle>
            </mat-button-toggle-group> -->

            <mat-form-field>
                <mat-label>Filter</mat-label>
                <mat-select [(value)]="subQuery.filterId">
                    <mat-option *ngFor="let filter of filters" value="filter.id">{{filter.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-icon-button color="error" matTooltip="REMOVE FILTER" (click)="subQuery.delete()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <app-condition-builder *ngIf="subQuery.subQueries" [conditionQuery]="subQuery"> </app-condition-builder>
    </div>

</mat-card>